#navbar {
    
    #bg-image {
        display: none;
        
        @include xl {
            z-index: -1;
            display:block;
            position: absolute;
        }
    }
    
    .container {
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        #logo {
            width: 230px;
            @include md {
                width: 400px;
            }
            @include lg {
                width: auto;
            }
        }

        #menu-dropdown {
            @include lg {
                display: none;
            }
        }

        .navbar-links {
            display: none;

            @include lg {
                display: flex;
                align-items: center;
            }
            
            .nav-links {
                font-size: 15px;
                font-weight: 500;
                
                @include xl {
                    font-size: 17px;
                }

                .nav-link {
                    text-decoration: none;
                    color: $color-htext;
                    margin: 0 10px;

                    &:hover {
                        color: $color-orange;
                    }
                }
            }
            i {
                margin-left: 5px;
                margin-right: 30px;
                font-size: 20px;
                cursor: not-allowed;
                @include xl {
                    font-size: 25px;
                }
            }
        }
    }
}