#section-two {
    .container {
        display: flex;
        .content-two {
            width: 450px;
        }
    
        .icons {
            width: 50%;
            height: auto;
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-template-columns: 250px 250px;
            grid-template-rows: 250px 250px;
            
            h3 {
                font-family: $font-poppins;
                font-size: 22px;
                color: $color-htext;
                font-weight: 700;
            }
        }
    }
}